Source: ros-rolling-foonathan-memory-vendor
Section: misc
Priority: optional
Maintainer: Miguel Company <miguelcompany@eprosima.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-copyright <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-xmllint <!nocheck>, cmake, git, python3-ament-cmake-test <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-foonathan-memory-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cmake, ros-rolling-ros-workspace
Description: Foonathan/memory vendor package for Fast-RTPS.
