Source: ros-foxy-foonathan-memory-vendor
Section: misc
Priority: optional
Maintainer: Miguel Company <miguelcompany@eprosima.com>
Build-Depends: debhelper (>= 9.0.0), cmake, git, ros-foxy-ament-cmake-copyright, ros-foxy-ament-cmake-lint-cmake, ros-foxy-ament-cmake-test, ros-foxy-ament-cmake-xmllint, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-foonathan-memory-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cmake, ros-foxy-ros-workspace
Description: Foonathan/memory vendor package for Fast-RTPS.
